/*
  *****************************************************************************************
  ********************************   General Styling   ************************************
  *****************************************************************************************
*/

* {
  font-family: 'Lato' !important;
}

::placeholder {
  color: #C6C6C6;
}

.blue-color {
  color: #2C8EFF !important;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 1;
  display: block;
  background: url('../img/calendar.png') no-repeat;
  width: 12px;
  height: 13px;
  margin: 0;
  justify-content: right;
}

.hide-absolute {
  width: -webkit-fill-available;
  cursor: pointer;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

select.classic {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: linear-gradient(45deg, transparent 50%, #BBBBBB 50%), linear-gradient(135deg, #BBBBBB 50%, transparent 50%), linear-gradient(to right, white, white);
  background-position: calc(100% - 15px) calc(1em + 2px), calc(100% - 10px) calc(1em + 2px), 100% 0;
  background-size: 5px 5px, 5px 5px, 2.5em 2.5em;
  background-repeat: no-repeat;
}

select.classic-down-arrow {
  padding-right: 38px !important;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('../img/Worker\ Area/Vector\ (1).png');
  background-position: calc(100% - 15px) calc(100% - 11.5px);
  background-repeat: no-repeat;
}

.select-css {
  color: #989898;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

.select-css:focus {
  outline: none;
}

.padding-percent-9 {
  width: 100%;
  padding-left: 9.536%;
  padding-right: 9.736%;
  padding-bottom: 46px;
}

.col-span-2 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 19%;
  flex: 0 0 19%;
  max-width: 19%;
}

@media screen and (max-width: 1200px) {
  .col-span-2 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 32.333%;
    flex: 0 0 32.333%;
    max-width: 32.333%;
  }
}

/*
  *****************************************************************************************
  **********************************   Login Style   **************************************
  *****************************************************************************************
*/

.left-image img {
  height: 100vh;
  width: 100%;
}

.right-content {
  width: 305px;
}

.bg-img {
  position: absolute;
  height: 200px;
  top: 0;
  right: 0;
}

.main-content h2 {
  font-size: 25px;
  font-weight: 500;
}

.main-content h6 {
  color: #C7C7C7;
  font-size: 14px;
  font-weight: 500;
  margin-top: -5px;
}

.email, .pasword {
  margin-bottom: -20px;
  font-size: 14px;
  font-weight: 500;
}

.f-pasword {
  margin-left: auto;
  font-size: 13px;
  font-weight: 400;
  text-decoration: none;
  color: #40A7E3;
}

.f-pasword:hover {
  text-decoration: none;
  color: #40A7E3;
}

.lock-icon {
  position: absolute;
  right: 8px;
  margin-top: 10px;
  width: 18px;
  height: 20px;
}

.unlock-icon {
  position: absolute;
  right: 8px;
  margin-top: 10px;
  width: 18px;
  height: 20px;
}

.lock2-icon {
  position: absolute;
  right: 8px;
  margin-top: 10px;
  width: 18px;
  height: 20px;
}

.pswd, .txt {
  width: 100%;
  height: 40px;
  padding: 8px 8px;
  margin: 8px 0;
  display: inline-block;
  border: 0.5px solid #BBBBBB;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 400;
  margin-top: 2px;
  background-color: white;
}

.txt:focus {
  outline: none;
  background-color: white;
}

.pswd:focus {
  outline: red;
  background-color: white;
}

#submit {
  background-color: #37B34A;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 10.5px;
  margin-top: 25px;
}

#submit:focus {
  outline: none;
}

#submit:hover {
  opacity: 0.8;
}

.no-account-text {
  margin-top: 22px;
  margin-bottom: 0;
  color: #AFAFAF;
  font-size: 13px;
  font-weight: 500;
}

.signup {
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  color: #40A7E3;
  line-height: 17px;
}

.signup:hover {
  text-decoration: none;
  color: #40A7E3;
}

.warning-msg {
  margin-top: -3px;
}

.warning-msg img {
  width: 14px;
  height: 14px;
}

.warning-msg p {
  font-size: 12px;
  font-weight: 400;
  margin-left: 6px;
  color: #E0B719;
}

.warning-msg2 {
  margin-top: -3px;
}

.warning-msg2 img {
  width: 14px;
  height: 14px;
}

.warning-msg2 p {
  font-size: 12px;
  font-weight: 400;
  margin-left: 6px;
  color: #E0B719;
}

@media screen and (max-width:1279px) {
  .right-content {
    width: 280px;
  }
}

@media screen and (max-width:1120px) {
  .main-content h2 {
    font-size: 23px;
    font-weight: 500;
  }
  .main-content h6 {
    color: #C7C7C7;
    font-size: 12px;
    font-weight: 500;
  }
}

@media screen and (max-width:1024px) {
  .right-content {
    width: 250px;
  }
}

@media screen and (max-width:900px) {
  .main-content h2 {
    font-size: 20px;
    font-weight: 500;
  }
  .main-content h6 {
    color: #C7C7C7;
    font-size: 10px;
    font-weight: 500;
  }
}

@media screen and (max-width:800px) {
  .right-content {
    width: 220px;
  }
}

/*
  ******************************************************************************************
  *********************************  Super Admin Style  ************************************
  ******************************************************************************************
*/

.super-admin-clients-link {
  font-size: 14px;
  color: #B6B6B6;
  width: 5%;
  min-width: 45px;
  cursor: pointer;
  margin-top: auto !important;
  margin-bottom: auto !important;
  text-align: right;
}

.general-form {
  width: 100%;
  height: 100%;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.5;
  color: #C6C6C6;
  outline: none;
  background-clip: padding-box;
  border: none;
  background: #F7F7F7;
  border-radius: 5px;
}

.mc-tbl-sel {
  width: 126px;
  height: 32px;
  padding-left: 9px;
  padding-right: 9px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05), 0px 0px 2px rgba(0, 0, 0, 0.07), 0px 0px 1px rgba(0, 0, 0, 0.05);
}

.add-client-btn {
  background: #2C8EFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05), 0px 0px 2px rgba(0, 0, 0, 0.07), 0px 0px 1px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 0px 12px;
  height: 30px;
  font-weight: bold;
  font-size: 13px;
  line-height: 30px;
  color: #FFFFFF;
  border: none;
}

.add-client-btn:focus {
  outline: none;
}

#style-2::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 10px;
  background-color: #F5F5F5;
}

#style-2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: rgba(97, 94, 255, 1);
}

.tbl-client thead tr {
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05), 0px 0px 2px rgba(0, 0, 0, 0.07), 0px 0px 1px rgba(0, 0, 0, 0.05);
}

.tbl-client thead tr td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.tbl-client tr td:first-child {
  padding-left: 22px !important;
}

.tbl-client thead tr td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tbl-client thead tr td {
  padding: 12px;
  color: #737373;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  border-top: none !important;
}

.tbl-client tr td {
  text-align: center;
}

.tbl-client tbody tr td {
  padding-top: 14px;
  padding-bottom: 1px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #313131;
  vertical-align: middle;
  border-top: none !important;
}

.checkbox {
  position: relative;
  width: 15px;
  height: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: transparent;
  border: 1px solid #737373;
  border-radius: 5px;
  margin: 0;
  outline: none;
  transition: 0.5s ease;
  opacity: 0.8;
  cursor: pointer;
}

.checkbox:checked {
  border: 1px solid #44B328;
  background-color: transparent;
}

.checkbox:checked:before {
  position: absolute;
  left: 2.5px;
  top: -0.5px;
  display: block;
  content: '\2713';
  text-align: center;
  color: #44B328;
  font-family: Arial;
  font-size: 8px;
  font-weight: 600;
}

.checkbox-primary {
  width: 14px !important;
  height: 14px !important;
}

.checkbox-primary:checked:before {
  color: #FFFFFF !important;
  top: 0px !important;
  left: 2.5px !important;
}

.checkbox-primary:checked {
  background: #2C8EFF;
  border: 1px solid #2C8EFF;
}

.checkbox-primary-12 {
  width: 12px !important;
  height: 12px !important;
  border-radius: 2px !important;
}

.checkbox-primary-12:checked:before {
  color: #FFFFFF !important;
  top: 0px !important;
  left: 2px !important;
}

.checkbox-primary-12:checked {
  background: #2C8EFF;
  border: 1px solid #2C8EFF;
}

/* The switch - the box around the slider */

.switch {
  position: relative;
  display: inline-block;
  width: 27px;
  height: 14px;
}

/* Hide default HTML checkbox */

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #EDEDED;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: -1px;
  bottom: -1px;
  background: #BEBEBE;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked+.slider {
  background: #DAFFDF;
}

input:checked+.slider::before {
  background: #47CA5B;
}

input:focus+.slider {
  box-shadow: -1px 0px 5px rgba(11, 82, 124, 0.2);
}

input:checked+.slider:before {
  -webkit-transform: translateX(12px);
  -ms-transform: translateX(12px);
  transform: translateX(12px);
}

/* Rounded sliders */

.slider.round {
  border-radius: 25px;
}

.slider.round:before {
  border-radius: 50%;
}

.loader-img {
  -webkit-animation: rotation 1s infinite linear;
  animation: rotation 1s infinite linear;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(359deg);
  }
}

.label-text {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #616161;
}

.upload-logo {
  display: flex;
  position: absolute;
  bottom: -4px;
  right: -5px;
  padding: 3px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #2C8EFF;
  border: 1px solid #2C8EFF;
  box-sizing: border-box;
}

.upload-logo-input {
  display: flex;
  position: absolute;
  bottom: -4px;
  right: -5px;
  padding: 3px;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  opacity: 0;
}

.input-text {
  width: 100%;
  height: 36px;
  padding: 0px 12px;
  background: #FFFFFF;
  border: 1px solid #DCDCDC;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #313131;
}

.input-text:focus {
  outline: none;
}

.input-textarea {
  width: 100%;
  height: 47px;
  padding: 11px 12px;
  background: #FFFFFF;
  border: 1px solid #DCDCDC;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  resize: none;
  color: #313131;
}

.input-textarea:focus {
  outline: none;
}

.input-select {
  width: 100%;
  height: 36px;
  padding: 0px 12px;
  background: #FFFFFF;
  border: 1px solid #DCDCDC;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #313131;
}

.input-select:focus {
  outline: none;
}

.profile-img {
  height: 48px;
  width: 48px;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.btn-cancel {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  padding: 7px 22px;
  color: #A5A5A5;
  border: none;
  background-color: transparent;
}

.btn-cancel:focus {
  outline: none;
}

.btn-create {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  padding: 7px 15px;
  color: #FFFFFF;
  border: none;
  background: #2C8EFF;
  border-radius: 5px;
}

.btn-create:focus {
  outline: none;
}

.btn-delete {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  padding: 7px 20px;
  color: #FFFFFF;
  border: none;
  background: #F53D50;
  border-radius: 5px;
}

.btn-delete:focus {
  outline: none;
}

.manage-clients {
  padding-top: 28px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.super-admin-profile, .worker-profile {
  padding-top: 25px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.super-admin-profile-left {
  width: 68.273%;
  height: auto;
  margin-right: 2.182%;
  padding: 1.864% 3.329%;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05), 0px 0px 2px rgba(0, 0, 0, 0.07), 0px 0px 1px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  background-color: white !important;
}

#imagePreview2, #imagePreview3 {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 8px;
  border: 1px solid #ccc;
}

.super-admin-upload-img, .worker-upload-img {
  font-weight: 700;
  padding: 7px 20px;
  margin-right: 12px;
  color: white;
  background: #42A4DF;
  border-radius: 5px;
  font-size: 11px !important;
  line-height: 13px !important;
  text-align: center;
  position: relative;
  margin-left: auto !important;
  margin-right: auto !important;
}

#delete-img, #delete-img2 {
  color: #EF3C3C;
  padding: 7px 20px;
  cursor: pointer;
  font-size: 11px !important;
  line-height: 13px !important;
  text-align: center;
  font-weight: 500;
  position: relative;
  margin-left: auto !important;
  margin-right: auto !important;
}

.header-style {
  width: 100%;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #7C7C7C;
  margin-bottom: 26px;
}

.tc-grey {
  color: rgba(92, 87, 97, 0.5);
}

.fw-normal {
  font-weight: normal;
  color: #200E32;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fs-10 {
  font-size: 10px !important;
  line-height: 12px !important;
}

.fs-11 {
  font-size: 11px !important;
  line-height: 13px !important;
}

.fs-12 {
  font-size: 12px !important;
  line-height: 14px !important;
}

.fs-13 {
  font-size: 13px !important;
  line-height: 15px !important;
}

.fs-14 {
  font-size: 14px !important;
  line-height: 16px !important;
}

.fs-15 {
  font-size: 15px !important;
  line-height: 17px !important;
}

.fs-16 {
  font-size: 16px !important;
  line-height: 18px !important;
}

.fs-17 {
  font-size: 17px !important;
  line-height: 19px !important;
}

.fs-18 {
  font-size: 18px;
  line-height: 20px;
}

.fs-19 {
  font-size: 19px;
  line-height: 21px;
}

.fs-20 {
  font-size: 20px;
  line-height: 22px;
}

.fs-22 {
  font-size: 22px;
  line-height: 24px;
}

.fs-27 {
  font-size: 27px;
  line-height: 29px;
}

.field-icon {
  float: right;
  margin-right: 6px;
  margin-top: -22px;
  position: relative;
  z-index: 2;
  width: 14px;
  height: 16px;
  cursor: pointer;
}

.super-admin-profile-link, .worker-profile-link {
  width: 60.538%;
  display: flex;
  min-width: 127px;
  max-width: 170px;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .col-adj {
    width: 100% !important;
  }
}

@media (min-width: 576px) {
  #myModal1 .modal-dialog {
    margin: 3.5rem auto !important;
  }
  #myModal2 .modal-dialog {
    margin: 6rem auto !important;
  }
}

/*
  ******************************************************************************************
  *********************************  Worker Area Style  ************************************
  ******************************************************************************************
*/

.worker-dashboard {
  margin-top: 51px;
}

.worker-dashboard-link {
  font-size: 14px;
  color: #B6B6B6;
  width: 15%;
  min-width: 75px;
  margin-top: auto !important;
  margin-bottom: auto !important;
  text-align: center;
  cursor: pointer;
}

.my-training-btn {
  height: 32px;
  background: #F8FAFD;
  border: 1px solid #2C8EFF;
  box-sizing: border-box;
  border-radius: 5px;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  color: #2C8EFF;
  padding: 8px 17px !important;
  display: flex;
}

.my-training-btn:focus {
  outline: none;
}

.my-training-btn img {
  margin-left: 16px;
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.dashboard-status {
  position: relative;
  margin-right: 1%;
  margin-bottom: 14px;
  overflow: hidden;
  height: 70px;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05), 0px 0px 2px rgba(0, 0, 0, 0.07), 0px 0px 1px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  padding: 15px 23px !important;
}

.semi-circles {
  position: absolute;
  width: 90px;
  padding: 11.5px;
  top: -10px;
  bottom: -10px;
  right: -49px;
  border-radius: 50%;
  display: flex;
}

.semi-circles span {
  width: 100%;
  height: 100%;
  padding: 11.5px;
  border-radius: 50%;
  margin: auto auto !important;
  display: flex;
}

.semi-circles span label {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  margin: auto auto !important;
}

.color-grey {
  background: rgba(116, 116, 116, 0.01);
}

.color-grey span {
  background: rgba(116, 116, 116, 0.03);
}

.color-grey span label {
  background: rgba(116, 116, 116, 0.05);
}

.color-green {
  background: rgba(71, 202, 91, 0.01);
}

.color-green span {
  background: rgba(71, 202, 91, 0.03);
}

.color-green span label {
  background: rgba(71, 202, 91, 0.05);
}

.color-blue {
  background: rgba(44, 142, 255, 0.01);
}

.color-blue span {
  background: rgba(44, 142, 255, 0.03);
}

.color-blue span label {
  background: rgba(44, 142, 255, 0.05);
}

.color-orange {
  background: rgba(235, 116, 33, 0.01);
}

.color-orange span {
  background: rgba(235, 116, 33, 0.03);
}

.color-orange span label {
  background: rgba(235, 116, 33, 0.05);
}

.color-pink {
  background: rgba(237, 76, 92, 0.01);
}

.color-pink span {
  background: rgba(237, 76, 92, 0.03);
}

.color-pink span label {
  background: rgba(237, 76, 92, 0.05);
}

.total-trainings-section {
  width: 100%;
  max-height: 532px;
  padding: 15px 2.273%;
  background: #FFFFFF;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05), 0px 0px 2px rgba(0, 0, 0, 0.07), 0px 0px 1px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}

.training-catagory {
  margin-right: 21px;
}

.training-catagory, .training-subcatagory {
  height: 32px;
  padding-left: 14px;
  padding-right: 14px;
  background-color: #F2F2F2 !important;
}

.tbl-training thead tr {
  background: #F9F9F9;
}

.tbl-training thead tr td:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.tbl-training tr td:first-child {
  padding-left: 20px !important;
}

.tbl-training tr td:nth-last-child(2) {
  width: 90px;
  padding-right: 0px !important;
}

.tbl-training thead tr td:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  width: 24px;
  padding-left: 0px !important;
  padding-right: 6px !important;
}

.tbl-training thead tr td {
  padding: 9px;
  color: #737373;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  border-top: none !important;
}

.tbl-training tr td {
  text-align: center;
}

.tbl-training tbody tr td {
  padding-top: 9px;
  padding-bottom: 4px;
  height: 37px;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;
  color: #313131;
  vertical-align: middle;
  border-top: none !important;
}

#imagePreview4 {
  width: 146px;
  height: 111px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 8px;
  border: 1px solid #ccc;
}

.worker-upload-signature {
  width: 100%;
  font-weight: 700;
  margin-right: 12px;
  color: white;
  background: #42A4DF;
  border-radius: 5px;
  padding: 6px 11px;
  margin-top: 8px;
  cursor: pointer;
  font-size: 11px !important;
  line-height: 13px !important;
  text-align: center;
  position: relative;
  margin-left: auto !important;
  margin-right: auto !important;
}

#delete-worker-signature {
  width: 100%;
  color: #EF3C3C;
  padding: 6px 11px;
  cursor: pointer;
  font-weight: 500;
  font-size: 11px !important;
  line-height: 13px !important;
  text-align: center;
  position: relative;
  margin-left: auto !important;
  margin-right: auto !important;
}

@media screen and (max-width: 1400px) {
  #imagePreview4 {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .adjust-btn-upload {
    display: grid !important;
    align-items: flex-end;
  }
  .adj-mr-auto {
    margin-right: auto !important;
  }
  .adjust-badges-alignment div {
    margin-top: 1px;
  }
}

@media screen and (max-width: 1200px) {
  .col-adj {
    width: 100% !important;
  }
  .col-adj div.d-flex {
    justify-content: center !important;
  }
  .adjust-badges-alignment div {
    margin-right: auto;
  }
}